#ourmissionsec{
    display: flex;
    justify-content: center;
    position: relative;
    background: url(https://mobirise.com/extensions/floram4/floral-studio/assets/images/background2.jpg);
 .ourmissionclas{
    background-color:rgba(16, 99, 78, 0.9) ;
    
   
 }
}